@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Work+Sans:300,400,700&subset=latin-ext');

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

@keyframes scaleDown {
    to    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

*{
	margin: 0;
	padding: 0;
	font-family: var(--font-body);
}

a{
	cursor: pointer;
	color: var(--grey);
	text-decoration: none;
	transition: color linear var(--transition-time-fast);
}

h1{
	font-family: var(--font-heading);
}

a:hover{
	color: var(--first-color);
}

a.inactive{
	pointer-events: none;
}
:root{
	--font-heading:"Libre Baskerville", serif;
	--font-body:"Work Sans", sans-serif;

	--header-height : 60px;

	--grey : #5E5E5E;
	--dark-grey: rgb(64, 64, 64);
	--less-dark-grey: rgb(66, 66, 66);
	--dark-white : #eee;
	--less-dark-white: #F2F2F2;
	--white : #fff;
	--black : #1A1A1A;
	--white-transparent: rgba(255, 255, 255, 0.75);
	--first-color: #FF3530;
	--second-color: #55DDE0;

	--transition-time-slow : 0.3s;
	--transition-time-fast : 0.15s;
}

html, body{
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
}

header{
	height: var(--header-height);
	background-color: var(--black);
	color: var(--white);
	padding-left: calc(var(--header-height) / 2);
	padding-right: calc(var(--header-height) / 2);
}

.site-title{
	display: block;
	float: left;
	height: var(--header-height);
	line-height: var(--header-height);
	font-family: var(--font-heading);
	font-weight: bold;
	color: var(--white);
	font-size: 3em;
}

header li{
	position: relative;
	height: var(--header-height);
	width: 100px;
	font-size: 2em;
	text-align: center;
	line-height: calc(var(--header-height) * 1.2);
	color: var(--grey);
	display: block;
	float: right;
}

header li.selected>a,
header li>a:hover{
	color: var(--white);
}

footer{
	position: absolute;
	top: 100%;
	width: 100%;
	display: flex;
	font-weight: 200;
	justify-content: center;
	float: left;
	background-color: var(--dark-grey);
	color: var(--dark-white);
}

footer>div{
	margin: 40px;
}

footer>div:nth-child(1){
	width: calc(60% - 80px);
	max-width: 534px;
}

footer>div>h1{
	margin-bottom: 20px;
}

footer>div a{
	font-weight: 400;
	color: var(--white);
}

footer>div:nth-child(2){
	width: calc(40% - 80px);
	max-width: 356px;
}

footer>div:nth-child(2) p{
	font-size: 1.5em;
	margin-top: 5px;
	margin-bottom: 5px;
}

footer>div:nth-child(2) ul{
	list-style: none;
	margin-left: 15px;
	font-size: 1.3em;
}

.view-holder.ng-enter {
	animation: scaleUp var(--transition-time-slow) both ease-in;
	z-index: 8888;
}
.view-holder.view-holder.ng-enter-active {
	bottom: 1px;
}
.view-holder.ng-leave{
	animation: scaleDown var(--transition-time-slow) both ease-in;
	z-index: 9999;
}
.view-holder.view-holder.ng-leave-active {
	bottom: 1px;
}

.opaque.ng-leave,
.opaque.ng-move.ng-move-active,
.opaque.ng-enter.ng-enter-active,
.opaque{
	opacity: 1;
}

.opaque.ng-move,
.opaque.ng-enter,
.opaque.ng-leave,
.opaque.ng-hide-add,
.opaque.ng-hide-remove {
	transition: opacity linear var(--transition-time-slow);
}

.opaque.ng-leave.ng-leave-active,
.opaque.ng-move,
.opaque.ng-enter,
.opaque.ng-hide {
	opacity: 0;
}

.opaque-fast.ng-leave,
.opaque-fast.ng-move.ng-move-active,
.opaque-fast.ng-enter.ng-enter-active,
.opaque-fast{
	opacity: 1;
}

.opaque-fast.ng-move,
.opaque-fast.ng-enter,
.opaque-fast.ng-leave,
.opaque-fast.ng-hide-add,
.opaque-fast.ng-hide-remove {
	transition: opacity var(--transition-time-fast) linear;
}

.opaque-fast.ng-leave.ng-leave-active,
.opaque-fast.ng-move,
.opaque-fast.ng-enter,
.opaque-fast.ng-hide {
	opacity: 0;
}

.background{
	position: fixed;
	top: 0;
	padding-top: var(--header-height);
	left: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 6vh;
	background-color: var(--dark-white);
	color: var(--less-dark-white);
	z-index: -1;
	user-select: none;
}

.view-holder{
	position: absolute;
	top: var(--header-height);
	float: left;
	width: 100%;
	height: calc(100% - var(--header-height));
	overflow-y: hidden; 
}

.error-placeholder{
	display: flex;
	align-items: center;
	color: var(--white);
	width: 100%;
	height: calc(100vh - var(--header-height));
}

.error-placeholder img{
	width: 200px;
	height: 200px;
	filter: drop-shadow(0 2px 1px black) 
			drop-shadow(0 -2px 1px black)
			drop-shadow(2px 0 1px black)
			drop-shadow(-2px 0 1px black);
}

.error-placeholder span{
	color: var(--black);
	font-size: 30px;
}

.error-placeholder h1{
	font-family: var(--font-heading);
}

.error-placeholder>div{
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	display: flex;
	flex-wrap: nowrap;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}

.loading-placeholder{
	display: flex;
	align-items: center;
	color: var(--white);
	width: 100%;
	min-height: calc(100vh - var(--header-height));
}

img.spinner{
	width: 100px;
	height: 100px;
	animation: spin 2s linear infinite;
	filter: drop-shadow(0 2px 1px black) 
			drop-shadow(0 -2px 1px black)
			drop-shadow(2px 0 1px black)
			drop-shadow(-2px 0 1px black);
}

.loading-text{
	font-size: 60px;
	color: var(--black);
}

.loading-placeholder>div{
	display: flex;
	flex-wrap: wrap;
	flex-flow: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 200px;
	text-align: center;
}

.loading-placeholder>div>*{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}

.bands-parent{
	float: left;
	display: block;
	height: 100%;
	width: 100%;
}

.band-field{
	display: flex;
	align-items: center;
	width: 100%;
	height: 82%;
	overflow: hidden;
}

.band-field>ul{
	list-style-type: none;
	column-count: 4;
	column-fill: auto;
	overflow: hidden;
	height: calc(100% - 100px);
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.band-field>ul>li{
	position: relative;
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	width: calc(100% - 20px);
	height: 5.1%;
	font-size: 20px;
	margin-bottom: 10px;
	overflow: hidden;
	cursor: pointer;
	background-color: var(--white);
	color: var(--black);
	transition: color var(--transition-time-fast) linear;
}

.band-field>ul>li>a{
	width: 100%;
	display: block;
	text-decoration: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.band-field>ul>li:hover{
	color: var(--first-color);
	cursor: pointer;
}

header li>a + .highlight,
.related-bands-view li>.highlight,
.bio-album-navbar>li>.highlight,
.band-field>ul>li>.highlight{
	position: absolute;
	left: 50%;
	bottom: 0;
	display: block;
	width: 0;
	height: 2px;
	background-color: var(--first-color);
	transition: width linear var(--transition-time-fast), left linear var(--transition-time-fast);
}

header li.selected>a + .highlight,
.related-bands-view li:hover>.highlight,
.bio-album-navbar>li.selected>.highlight,
.band-field>ul>li:hover>.highlight{
	left: 0;
	width: 100%;
}


.paginator{
	position: relative;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--white-transparent);
	width: 100%;
	height: 10%;
}

.paginator>h1{
	width: 200px;
	text-align: center;
}

.paginator>a{
	margin-right: 10px;
	margin-left: 10px;
	font-size: 28px;
	cursor: pointer;
	transition: color var(--transition-time-fast) linear;
}

.paginator>a:hover{
	color: var(--first-color);
}

.paginator>a.inactive{
	color: var(--grey);
}

.band-input-field{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 8%;
}


.band-input-field .input-highlight{
	position: absolute;
	font-size: 30px;
	bottom: 0;
	left: 10%;
	display: block;
	overflow: hidden;
	height: 2px;
	background-color: var(--first-color);
	transition: height linear var(--transition-time-fast);
}

.band-input-field>input{
	width: 80%;
	outline: none;
	height: calc(100% - 2px);
	line-height: calc(100% - 2px);
	font-size: 30px;
	border: 0;
	color: var(--black);
	border-bottom: 2px solid var(--grey);
	background-color: transparent;
}

.band-info{
	height: 100%;
	color: var(--black);
}

.band-name{
	position: relative;
	height: 82px;
	margin-left: 50%;
	text-decoration: none;
	display: block;
	float: left;
    color: var(--black);
    white-space: nowrap;
    text-align: center;
    font-size: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: var(--font-heading);
    transform: translateX(-50%);
}

.band-name:hover{
	color: var(--black);
}

.band-name>.highlight{
	z-index: -1;
	position: absolute;
	bottom: 10px;
	left: 0;
	width: 100%;
	height: 0px;
	background-color: var(--first-color);
	transition: height var(--transition-time-fast) linear;
}

.band-name:hover>.highlight{
	height: 2px;
}

.bio-album-container{
	width: 100%;
	display: block;
	float: left;
	height: calc(100% - 127px);
}

.bio-album-navbar{
	width: calc(100% - 40px);
	max-width: 970px;
	margin-left: auto;
	margin-right: auto;
	height: 38px;
	list-style: none;
	color: var(--grey);
	border-bottom: 2px solid var(--grey);
}

.bio-album-navbar>li{
	position: relative;
	height: 40px;
	width: 160px;
	font-size: 30px;
	float: left;
}

.bio-album-navbar>li>a{
	display: block;
	text-align: center;
	height: 100%;
	width: 100%;
	cursor: pointer;
	transition: color linear var(--transition-time-fast);
}

.bio-album-navbar>li:hover>a{
	color: var(--black);
}

.bio-album-navbar>li.selected>a{
	color: var(--black);
}

.bio-album-section{
	width: calc(100% - 40px);
	max-width: 970px;
	height: calc(100% - 40px);
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	overflow-y: scroll;
	border-bottom: 2px solid var(--grey);
}

.albums-view,
.related-bands-view{
	width: calc(50% - 16px);
	max-width: 500px;
	padding-left: 8px;
	padding-right: 8px;
	float: left;
}

.related-bands-view ul,
.albums-view ul{
	list-style: none;
}

.related-bands-view li,
.albums-view li{
	position: relative;
	width: calc(100% - 20px);
	height: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
	background-color: var(--white);
}

.related-bands-view li>a{
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	width: calc(100% - 20px);
	height: 100%;
}
.albums-view li>*:nth-child(1){
	display: block;
	float: left;
	width: 44px;
	height: 100%;
}

.albums-view li>*:nth-child(2){
	position: relative;
	display: block;
	float: left;
	width: calc(100% - 91px);
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis; 
	font-weight: bold;
	z-index: 1;
}

.albums-view li>*:nth-child(3){
	width: 47px;
	text-align: right;
	float: right;
}

.albums-view li>*:nth-child(2)>.highlight{
	user-select: none;
	display: none;
}

.albums-view li.essential>*:nth-child(2)>.highlight{
	position: absolute;
	bottom: 3px;
	left: 0;
	display: block;
	height: 14px;
	color: transparent;
	z-index: -1;
	overflow: hidden;
	background-color: var(--second-color);
}

.albums-view h1,
.related-bands-view h1{
	width: calc(100% - 20px);
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 4px;
	border-bottom: 1px solid var(--grey);
}

.biography{
	width: calc(100% - 20px);
	margin-left: 10px;
	margin-right: 10px;
	text-indent: 30px;
	font-size: 1.3em;
}
