@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700|Work+Sans:300,400,700&subset=latin-ext');

@keyframes spin { 
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(360deg); 
    }
}

@keyframes fadeIn {
	0%{
		opacity: 0.0;
	}
	50%{
		opacity: 0.0;
	}
	100%{
		opacity: 1;
	}
}

@keyframes fadeOut {
	0%{
		opacity: 1;
	}
	50%{
		opacity: 0.0;
	}
	100%{
		opacity: 0.0;
	}
}

input[type=range] {
  -webkit-appearance: none;
  margin: 14px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: var(--grey);
}

input[type=range]::-webkit-slider-thumb {
  height: 20px;
  width: 4px;
  background: var(--black);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label:before{
	content: "";
    display:inline-block;
    width:12px;
    height:12px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 2px;
    background-color: var(--dark-white);
    cursor:pointer;
    border: 2px solid var(--black);
    border-radius: 4px;
    transition: color linear var(--transition-time-fast);
}

input[type="checkbox"]:checked + label:before {
    background-color: var(--first-color);
}

select {
   user-select: none;
   background-color: var(--dark-white);
   background-position: 97% center;
   background-repeat: no-repeat;
   border: 0;
   border-bottom: 2px solid var(--first-color);
   color: var(--black);
   font-size: 1.5em;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

select:focus {
  outline: none;
}

*{
	margin: 0;
	padding: 0;
	font-family: var(--font-body);
}

a{
	cursor: pointer;
	color: var(--grey);
	text-decoration: none;
	transition: color linear var(--transition-time-fast);
}

h1{
	font-family: var(--font-heading);
}

a:hover{
	color: var(--first-color);
}

a.inactive{
	pointer-events: none;
}

:root{
	--font-heading:"Libre Baskerville", serif;
	--font-body:"Work Sans", sans-serif;

	--header-height : 60px;

	--black : #1A1A1A;
	--super-dark-grey : #242424;
	--grey : #5E5E5E;
	--dark-grey: #404040;
	--less-dark-grey: #424242;
	--dark-white : #eee;
	--less-dark-white: #F2F2F2;
	--white : #fff;
	--black : #1A1A1A;
	--white-transparent: rgba(255, 255, 255, 0.75);
	--first-color: #FF3530;
	--second-color: #55DDE0;

	--shadow: rgba(0, 0, 0, 0.23);

	--transition-time-very-slow : 0.6s;
	--transition-time-slow : 0.3s;
	--transition-time-fast : 0.15s;
}

html, body{
	overflow-x: hidden;
	height: 100%;
	width: 100%;
	margin: 0;
}

body{
	position: relative;
}

.elevation-1 {
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.elevation-2 {
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.elevation-3 {
	box-shadow: 0 6px 6px rgba(0,0,0,0.23), 0 10px 20px rgba(0,0,0,0.19);
}

.elevation-4 {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.elevation-5 {
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.elevate{
	position: relative;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: transform ease-in-out var(--transition-time-fast);
}

.elevate:hover{
	z-index: 1;
	transform: scale(1.04) translateY(0%);
}
/**/
.elevate::after {
	pointer-events: none;
	z-index: 0;
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	box-shadow: 0 10px 10px rgba(0,0,0,0.22), 0 14px 28px rgba(0,0,0,0.25);
	opacity: 0;
	transition: opacity var(--transition-time-fast) ease-in-out;
}

.elevate:hover::after {
  opacity: 1;
}

header{
	position: relative;
	width: calc(100% - var(--header-height));
	height: var(--header-height);
	background-color: var(--black);
	color: var(--white);
	padding-left: calc(var(--header-height) / 2);
	padding-right: calc(var(--header-height) / 2);
	z-index: 5;
}
.site-title{
	display: block;
	float: left;
	height: var(--header-height);
	line-height: var(--header-height);
	font-family: var(--font-heading);
	font-weight: bold;
	color: var(--white);
	font-size: 3em;
}

header li{
	position: relative;
	height: var(--header-height);
	width: 120px;
	color: var(--grey);
	display: block;
	float: right;
}

header li>a{
	display: block;
	width: 100%;
	height: var(--header-height);
	font-size: 2em;
	text-align: center;
	line-height: calc(var(--header-height) * 1.2);
}

header .expander>a{
	display: block;
	width: 100%;
	height: var(--header-height);
	font-size: 1.6em;
	text-align: center;
	line-height: var(--header-height);
}

header li>.expander{
	position: absolute;
	height: 0;
	width: 100%;
	background-color: var(--super-dark-grey);
	z-index: 5;
	overflow: hidden;
	transition: height ease-in-out var(--transition-time-fast);
}

header li:hover>.expander{
	height: calc(var(--header-height) * 2);
}

header li.selected>a,
header li>a:hover{
	color: var(--white);
}

footer{
	display: flex;
	font-weight: 200;
	justify-content: center;
	float: left;
	width: 100%;
	background-color: var(--dark-grey);
	color: var(--dark-white);
}

footer>div{
	margin: 40px;
}

footer>div:nth-child(1){
	width: calc(60% - 80px);
	max-width: 534px;
}

footer>div>h1{
	margin-bottom: 20px;
}

footer>div a{
	font-weight: 400;
	color: var(--white);
}

footer>div:nth-child(2){
	width: calc(40% - 80px);
	max-width: 356px;
}

footer>div:nth-child(2) p{
	font-size: 1.5em;
	margin-top: 5px;
	margin-bottom: 5px;
}

footer>div:nth-child(2) ul{
	list-style: none;
	margin-left: 15px;
	font-size: 1.3em;
}

.view-holder.ng-enter {
	animation: fadeIn var(--transition-time-very-slow) both ease-in;
	z-index: 1;
}

.view-holder.ng-leave{
	position: absolute;
	max-width: 100%;
	animation: fadeOut var(--transition-time-very-slow) both ease-out;
	z-index: 2;
}


.fade-slow.ng-hide-add{
	animation: fadeOut var(--transition-time-slow) both ease-in;
}

.fade-slow.ng-hide-remove{
	animation: fadeIn var(--transition-time-slow) both ease-in;
}


.opaque-fast.ng-leave,
.opaque-fast.ng-move.ng-move-active,
.opaque-fast.ng-enter.ng-enter-active,
.opaque-fast,
.opaque.ng-leave,
.opaque.ng-move.ng-move-active,
.opaque.ng-enter.ng-enter-active,
.opaque{
	opacity: 1;
}

.opaque.ng-move,
.opaque.ng-enter,
.opaque.ng-leave,
.opaque.ng-hide-add,
.opaque.ng-hide-remove {
	transition: opacity var(--transition-time-slow);
}

.opaque-fast.ng-leave.ng-leave-active,
.opaque-fast.ng-move,
.opaque-fast.ng-enter,
.opaque-fast.ng-hide,
.opaque.ng-leave.ng-leave-active,
.opaque.ng-move,
.opaque.ng-enter,
.opaque.ng-hide {
	opacity: 0;
}

.opaque-fast.ng-move,
.opaque-fast.ng-enter,
.opaque-fast.ng-leave,
.opaque-fast.ng-hide-add,
.opaque-fast.ng-hide-remove {
	transition: opacity var(--transition-time-fast) linear;
}

.stagger.ng-enter-stagger{
	transition-delay: calc(var(--transition-time-slow) / 10);
	transition-duration: 0s;
}

.stagger.ng-leave-stagger {
	transition-delay: 0s;
	transition-duration: 0s;
}

.stagger.ng-leave,
.stagger.ng-move.ng-move-active,
.stagger.ng-enter.ng-enter-active,
.stagger{
	opacity: 1;
	transform: translateY(0%);
}

.stagger.ng-move,
.stagger.ng-enter,
.stagger.ng-hide-add {
	transition: opacity ease-in var(--transition-time-slow), transform ease-in var(--transition-time-slow);
}

.stagger.ng-leave,
.stagger.ng-hide-remove{
	display: none;
}

.stagger.ng-leave.ng-leave-active,
.stagger.ng-move,
.stagger.ng-enter,
.stagger.ng-hide {
	opacity: 0;
	transform: translateY(50%);
}


.background{
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 6vh;
	background-color: var(--dark-white);
	color: var(--less-dark-white);
	z-index: -1;
	user-select: none;
}

.view-holder{
	top: var(--header-height);
	float: left;
	width: 100%;
	min-height: calc(100% - var(--header-height));
	overflow-y: hidden;
}

.lighter{
	font-weight: lighter;
}

.landing-intro{
	width: calc(100% - 20px);
	max-width: 970px;
	margin-left: auto;
	margin-right: auto;
	height: calc(100vh - var(--header-height));
}

.landing-intro>*{
	float: left;
}

.landing-intro>h1{
	width: 100%;
	height: 300px;
	line-height: 300px;
	text-align: center;
	font-size: 10vw;
	user-select: none;
}

.landing-intro>div{
	width: 100%;
	font-size: 26px;
	font-weight: lighter;
	text-align: center;
}

.landing-intro>div>p{
	margin-top: 5vh;
	margin-bottom: 5vh;
}

.landing-intro>a{
	background-color: var(--white);
	position: relative;
	width: 150px;
	height: 50px;
	line-height: 50px;
	font-size: 34px;
	text-align: center;
}

.landing-intro>.band-field{
	width: 100%;
	height: 100%;
}

.landing-intro>a:nth-of-type(1){
	margin-left: calc(50% - 160px);
	margin-right: 10px;
}

.landing-intro>a:nth-of-type(2){
	margin-right: calc(50% - 160px);
	margin-left: 10px;
}

.landing-albums{
	width: calc(100% - 20px);
	margin-left: auto;
	margin-right: auto;
	max-width: 970px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.landing-albums>.band-field>ul{
	margin: 0;
	width: 100%;
	height: initial;
}

.landing-albums h1{
	font-family: var(--font-body);
	font-weight: normal;
	font-size: 30px;
	margin-top: 20px;
}

ul.histogram{
	display: flex;
	flex-flow: row;
	justify-content: center;
	height: 400px;
	background-color: var(--white);
	border-bottom: 2px solid var(--grey);
	border-top: 2px solid var(--grey);
}

.histogram li{
	width: 4.6%;
	height: 100%;
	margin-left: 1px;
	margin-right: 1px;
	list-style: none;
}

.histogram li>a{
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column-reverse;
	border-color: var(--grey);
	align-self: flex-end;
	transition: border var(--transition-time-fast) linear;
}

.histogram li>a:hover{
	border-color: var(--first-color);
}

.histogram li>a>div{
	cursor: pointer;
	text-align: center;
	align-self: flex-end;
	width: 100%;
	border: 0;
	border-style: solid;
	border-color: inherit;
}

.histogram li>a:hover>div:nth-child(2){
	color: var(--first-color);
}

li.histogram-bar-0{
	pointer-events: none;
}

.landing-how{
	width: calc(100% - 20px);
	max-width: 970px;
	margin-left: auto;
	margin-right: auto;
}

.landing-how>*{
	float: left;
}

.landing-how>h1{
	width: 100%;
	height: 200px;
	line-height: 200px;
	text-align: center;
	font-size: 6vw;
}

.landing-how>div{
	width: 100%;
	font-size: 26px;
	font-weight: lighter;
	text-align: center;
	margin-bottom: 50px;
}

.error-placeholder{
	position: absolute;
	display: flex;
	align-items: center;
	color: var(--white);
	width: 100%;
	height: calc(100vh - var(--header-height));
}

.error-placeholder img{
	width: 200px;
	height: 200px;
	filter: drop-shadow(0 2px 1px black) 
			drop-shadow(0 -2px 1px black)
			drop-shadow(2px 0 1px black)
			drop-shadow(-2px 0 1px black);
}

.error-placeholder span{
	color: var(--black);
	font-size: 30px;
}

.error-placeholder h1{
	font-family: var(--font-heading);
}

.error-placeholder>div{
	margin-left: 25%;
	margin-right: 25%;
	width: 50%;
	display: flex;
	flex-wrap: nowrap;
	flex-flow: row;
	align-items: center;
	justify-content: center;
}

.loading-placeholder{
	display: flex;
	position: absolute;
	align-items: center;
	color: var(--white);
	width: 100%;
	min-height: calc(100vh - var(--header-height));
}

img.spinner{
	width: 100px;
	height: 100px;
	animation: spin 2s linear infinite;
	filter: drop-shadow(0 2px 1px black) 
			drop-shadow(0 -2px 1px black)
			drop-shadow(2px 0 1px black)
			drop-shadow(-2px 0 1px black);
}

.loading-text{
	font-size: 60px;
	color: var(--black);
}

.loading-placeholder>div{
	display: flex;
	flex-wrap: wrap;
	flex-flow: column;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	height: 200px;
	text-align: center;
}

.loading-placeholder>div>*{
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	margin-bottom: 0;
}

.albums-parent,
.bands-parent{
	position: relative;
	float: left;
	display: block;
	height: calc(100vh - var(--header-height));
	min-height: calc(100vh - var(--header-height));
	width: 100%;
}

.band-field>ul>li>a{
	width: 100%;
	height: 100%;
	display: block;
}

.album-field li>a>span:nth-child(1),
.band-field>ul>li>a>span:nth-child(1){
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
	background-size: 100%;
	background-position: center;
	background-color: var(--dark-grey);
}

.band-field>ul>li>a>span:nth-child(2){
	width: 100%;
	line-height: 8vh;
	font-size: 3vh;
	text-align: center;
	font-weight: bolder;
	text-decoration: none;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.album-field li>a>span:nth-child(2),
.band-field>ul>li>a>span:nth-child(2){
	position: absolute;
	bottom: 0;
	height: 8vh;
	background-color: var(--white-transparent);
}

.band-field>ul>li:hover{
	color: var(--first-color);
	cursor: pointer;
}

.filters-field{
	contain: strict;
	position: relative;
	float: left;
	width: 30%;
	max-width: 350px;
	height: 100%;
	padding-top: 30px;
	z-index: 1;
	background-color: var(--white);
}

.album-ratings-sliders{
	position: relative;
	margin-top: 40px;
	width: calc(100% - 40px);
	margin-left: 20px;
	margin-right: 20px;
	height: 60px;
}

.album-ratings-sliders>span{
	position: absolute; 
	min-width: 1px;
	height: 32px;
	top: 14px;
	z-index: -1;
	background-color: var(--first-color);
}

.ratings-sliders-text{
	pointer-events: none;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

.ratings-sliders-text>p{
	height: 60px;
	line-height: 60px;
	font-size: 22px;
	z-index: 2;
	color: var(--black);
	font-weight: lighter;
}

.ratings-sliders-text>p:nth-child(1){
	text-align: right;
	width: 10%;
	min-width: 45px;
	float: left;
}

.ratings-sliders-text>p:nth-child(2){
	text-align: center;
	width: 80%;
	max-width: calc(100% - 90px);
	float: left;
}

.ratings-sliders-text>p:nth-child(3){
	text-align: left;
	width: 10%;
	min-width: 45px;
	float: right;
}

.selector,
.check-selector,
.year-selector{
	margin-top: 40px;
	width: calc(100% - 40px);
	height: 29px;
	margin-left: 20px;
	margin-right: 20px;
}

.selector{
	height: 33px;
}

.selector>select{
	width: 100%;
	height: 100%;
}

.check-selector>label{
	display: block;
	height: 100%;
	line-height: 100%;
	font-size: 23px;
}

.year-selector>p>input{
	font-size: inherit;
}
.year-selector>p{
	float: left;
	font-weight: lighter;
	font-size: 23px;
	width: 70px;
}

.year-selector>p:nth-child(2){
	width: calc(100% - 140px);
	text-align: center;
	font-weight: normal;
}

.search-results{
	position: relative;
	float: left;
	width: 70%;
	min-width: calc(100% - 350px);
	height: 100%;
}

.search-results ul{
	contain: strict;
	position: absolute;
	display: block;
	width: calc(100% - 20px);
	height: calc(100% - 90px);
	padding: 15px 10px;
}

.band-field>ul>li,
.search-results li{
	list-style: none;
	float: left;
	position: relative;
	width: calc((100% / 3) - 10px);
	height: calc((100% / 3) - 10px);
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
	background-color: var(--white);
}

.band-field>ul>li{
	width: calc((100% / 4) - 10px);
}

.search-results li>a{
	display: block;
	width: 100%;
	height: 100%;
}

li.no-results{
	pointer-events: none;
	line-height: 6vh;
	font-size: 3vh;
}

.album-field li>a>span:nth-child(2){
	padding: 0 5px;
	width: calc(100% - 10px);
}

.album-field li>a>span:nth-child(2)>*{
	display: flex;
	align-items: center;
	height: 100%;
}

.album-field li>a>span:nth-child(2)>*:nth-child(1){
	float: left;
	width: 53px;
}

.album-field li>a>span:nth-child(2)>*:nth-child(1),
.album-field li>a>span:nth-child(2)>*:nth-child(4){
	font-size: 2.5vh;
}
.album-field li>a>span:nth-child(2)>*:nth-child(2),
.album-field li>a>span:nth-child(2)>*:nth-child(3){
	position: relative;
	display: block;
	float: left;
	font-size: 2.5vh;
	width: calc(100% - 116px);
	height: 50%;
	line-height: 150%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis; 
	font-weight: lighter;
	z-index: 1;
}

.album-field li>a>span:nth-child(2)>*:nth-child(3){
	font-weight: bold;
}

.album-field li>a>span:nth-child(2)>*:nth-child(4){
	position: absolute;
	top: 0;
	right: 5px;
	width: 63px;
	text-align: right;
}


.search-results a>.highlight,
.landing-intro>a>.highlight,
header li>a + .highlight,
.related-bands-view li>.highlight,
.bio-album-navbar>li>.highlight,
.band-field>ul>li>.highlight{
	position: absolute;
	left: 50%;
	bottom: 0;
	display: block;
	width: 0;
	height: 2px;
	background-color: var(--first-color);
	transition: width ease-out var(--transition-time-fast), left ease-out var(--transition-time-fast);
}

.related-bands-view li>.highlight,
.band-field>ul>li>.highlight,
.search-results a>.highlight{
	transition: width ease-out var(--transition-time-slow), left ease-out var(--transition-time-slow);
}

.search-results a:hover>.highlight,
.landing-intro>a:hover>.highlight,
header li.selected>a + .highlight,
.related-bands-view li:hover>.highlight,
.bio-album-navbar>li.selected>.highlight,
.band-field>ul>li:hover>.highlight{
	left: 0;
	width: 100%;
	height: 2px;
}


.paginator{
	position: absolute;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--white);
	width: 100%;
	height: 60px;
}

.paginator>h1{
	width: 200px;
	text-align: center;
}

.paginator>a{
	margin-right: 10px;
	margin-left: 10px;
	font-size: 28px;
	cursor: pointer;
	transition: color var(--transition-time-fast) linear;
}

.paginator>a:hover{
	color: var(--first-color);
}

.paginator>a.inactive{
	color: var(--grey);
}

.album-name-search,
.band-input-field{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.album-name-search .input-highlight,
.band-input-field .input-highlight{
	position: absolute;
	font-size: 30px;
	bottom: 0;
	left: 15%;
	display: block;
	overflow: hidden;
	white-space: pre;
	height: 2px;
	max-width: 100%;
	background-color: var(--first-color);
	transition: height linear var(--transition-time-fast);
}

.band-input-field .input-highlight,
.album-name-search .input-highlight{
	max-width: calc(100% - 40px);
	left: 20px;
}

.year-selector input,
.album-name-search>input,
.band-input-field>input{
	outline: none;
	height: calc(100% - 2px);
	width: calc(100% - 40px);
	font-size: 30px;
	border: 0;
	color: var(--black);
	border-bottom: 2px solid var(--grey);
	background-color: transparent;
}

.year-selector input{
	width: 70px;
}

.band-info{
	height: 100%;
	color: var(--black);
}

.image-name-container{
	position: relative;
	width: calc(100% - 40px);
	height: 100%;
	max-width: 970px;
	margin: 0 auto;
}

.band-name{
	float: left;
	position: relative;
	top: 60%;
	text-decoration: none;
	max-width: calc(90% - 300px);
	margin-left: 10px;
    white-space: nowrap;
    font-size: 3vw;
	font-family: var(--font-heading);
    color: var(--black);
    text-shadow: 1px 	0 	var(--white),
    			 -1px 	0 	var(--white),
    			 2px 	0 	var(--white),
    			 -2px 	0 	var(--white),
    			 3px 	0 	var(--white),
    			 -3px 	0 	var(--white);
}

.background-blur{
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 60%;
	overflow: hidden;
	background-color: var(--dark-grey);
}

.background-blur>img{
	width: calc(40px + 100%);
	position: absolute;
	left: -20px;
	top: calc(-20px - 40%);
	filter: blur(10px);
}
.band-name:hover{
	color: var(--black);
}

.band-name>.highlight{
	z-index: -1;
	position: absolute;
	top: 3vw;
	left: 0;
	width: 100%;
	height: 0px;
	background-color: var(--first-color);
	transition: height var(--transition-time-fast) linear;
}

.band-name:hover>.highlight{
	height: 2px;
}

.bio-album-container{
	position: relative;
	width: 100%;
	display: block;
	float: left;
	min-height: calc(100% - 132px);
	margin-bottom: 10px;
}

.bio-album-navbar{
	width: calc(100% - 40px);
	max-width: 970px;
	margin-left: auto;
	margin-right: auto;
	height: 38px;
	list-style: none;
	color: var(--grey);
	border-bottom: 2px solid var(--grey);
}

.bio-album-navbar>li{
	position: relative;
	height: 40px;
	width: 160px;
	font-size: 30px;
	float: left;
}

.bio-album-navbar>li>a{
	display: block;
	text-align: center;
	height: 100%;
	width: 100%;
	cursor: pointer;
	transition: color linear var(--transition-time-fast);
}

.bio-album-navbar>li:hover>a{
	color: var(--black);
}

.bio-album-navbar>li.selected>a{
	color: var(--black);
}

.bio-album-section{
	width: calc(100% - 40px);
	max-width: 970px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	opacity: 1;
}

.bio-album-section.ng-hide-add{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	animation: fadeOut var(--transition-time-very-slow) both ease-in;
}

.bio-album-section.ng-hide-remove{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	animation: fadeIn var(--transition-time-very-slow) both ease-in;
}

.bio-album-section.ng-hide{
	opacity: 0;
}

.band-page-header{
	position: relative;
	float: left;
	width: 100%;
	z-index: 0;
	height: calc(15vw + 40px);
	max-height: 340px;
	margin-bottom: 20px;
	overflow: hidden;
	background-color: var(--white);
}

.artitst-profile-image{
	float: left;
	height: 15vw;
	max-height: 300px;
	width: 15vw;
	max-width: 300px;
	background-size: 100%;
	background-position: center;
	border-radius: 10vw;
	margin-left: 10%;
	margin-top: 20px;
	background-color: var(--dark-grey);
}

.albums-view,
.related-bands-view{
	width: calc(100% - 16px);
	padding-left: 8px;
	padding-right: 8px;
	float: left;
}

.related-bands-view ul,
.albums-view ul{
	list-style: none;
}

.related-bands-view li,
.albums-view li{
	float: left;
	position: relative;
	width: calc(50% - 20px);
	min-width: 160px;
	height: 160px;
	font-size: 18px;
	line-height: 40px;
	margin: 5px 10px;
}

.related-bands-view li{
	text-align: center;
}


.related-bands-view li>a{
	display: block;
	width: calc(100% - 20px);
	height: 100%;
}

.related-bands-view li>a>span:nth-child(1),
.albums-view li>span:nth-child(1){
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-position: center;
	background-color: var(--dark-grey);
}

.related-bands-view li>a>span:nth-child(2),
.albums-view li>span:nth-child(2){
	position: absolute;
	width: calc(100% - 10px);
	left: 0;
	bottom: 0;
	padding: 0 5px;
	height: 40px;
	background-color: var(--white-transparent);
}

.related-bands-view li>a>span:nth-child(2){
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: bolder;
	color: var(--black);
}

.albums-view li>span:nth-child(2)>span:nth-child(1){
	display: block;
	float: left;
	width: 48px;
	height: 100%;
}

.albums-view li>span:nth-child(2)>span:nth-child(2){
	position: relative;
	display: block;
	float: left;
	width: calc(100% - 108px);
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis; 
	font-weight: bold;
	z-index: 1;
}

.albums-view li>span:nth-child(2)>span:nth-child(3){
	width: 60px;
	text-align: right;
	float: right;
}

.search-results li>a>span:nth-child(2)>*:nth-child(3)>.highlight,
.albums-view li>span:nth-child(2)>span:nth-child(2)>.highlight{
	user-select: none;
	display: none;
}

.search-results a.essential>span:nth-child(2)>*:nth-child(3)>.highlight,
.albums-view li.essential>span:nth-child(2)>span:nth-child(2)>.highlight{
	position: absolute;
	bottom: calc(50% - 0.5em);
	left: 0;
	display: block;
	height: 1em;
	color: transparent;
	z-index: -1;
	overflow: hidden;
	background-color: var(--second-color);
}

.albums-view h1,
.related-bands-view h1{
	width: calc(100% - 20px);
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 4px;
	border-bottom: 1px solid var(--grey);
}

.biography{
	width: calc(100% - 2em);
	margin: 1em;
	background-color: var(--white);
}

.biography p{
	width: 100%;
	max-width: 600px;
	font-size: 1.4em;
	line-height: 1.4em;
	margin: 2.8em auto;
}

.biography p::first-letter{
	font-size: 3.36em;
	line-height: 0.8em;
	display: block;
	float: left;
}

@media only screen and (max-device-width: 480px) {
	header{
		padding-left: 0;
		padding-right: 0;
	}

	.site-title{
		padding-left: 10px;
		font-size: 2em;
	}

	.landing-intro>h1{
		font-size: 16vw;
		height: 200px;
		line-height: 200px;
	}

	.landing-intro>a{
		width: calc(50% - 10px);
		height: 80px;
		line-height: 80px;
	}

	.landing-intro>a:nth-of-type(1){
		margin-left: 5px;
		margin-right: 5px;
	}

	.landing-intro>a:nth-of-type(2){
		margin-left: 5px;
		margin-right: 5px;
	}

	.histogram li{
		width: 4.4%;
	}

	.histogram li>a>div:nth-child(2){
		transform: rotate(-90deg) translateX(10px);
	}

	.band-field>ul>li{
		width: calc(100% - 30px);
	}

	.landing-albums>.band-field{
		height: initial;
	}
}