<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<title>Bands</title>
	<div class="albums-parent opaque">
		<div class="filters-field elevation-2">
			<div class="album-name-search">
				<input type="text" ng-model="searchRequest.name" placeholder="Album Name" ng-change="updateFilter()" ng-trim="false"/>
				<span class="input-highlight elevation-1">{{searchRequest.name}}</span>
			</div>
			<div class="album-ratings-sliders">
				<input ng-model="searchRequest.ratingLower" type="range" min="0" max="{{searchRequest.ratingHigher}}" step="0.5" style="width: calc(10% * {{searchRequest.ratingHigher}}); margin-right: calc(10% * {{10 - searchRequest.ratingHigher}});" ng-change="updateFilter()">
				<input ng-model="searchRequest.ratingHigher" type="range" min="{{searchRequest.ratingLower}}" max="10" step="0.5" style="width: calc(10% * {{10 - searchRequest.ratingLower}}); float: right;" ng-change="updateFilter()">
				<span style="width: calc(10% * {{searchRequest.ratingHigher - searchRequest.ratingLower}}); left: calc(10% * {{searchRequest.ratingLower}});"></span>
				<div class="ratings-sliders-text">
					<p>{{searchRequest.ratingLower}}></p>
					<p>Rating</p>
					<p><{{searchRequest.ratingHigher}}</p>
				</div>
			</div>
			<div class="year-selector">
				<p><input type="number" min="1950" max="{{searchRequest.yearHigher}}" ng-model="searchRequest.yearLower" ng-change="updateFilter()"></p>
				<p>Year</p>
				<p><input type="number" min="{{searchRequest.yearLower}}" max="{{getFullYear()}}"ng-model="searchRequest.yearHigher" ng-change="updateFilter()"></p>
			</div>
			<div class="check-selector">
				<input id="unk" type="checkbox" ng-model="searchRequest.includeUnknown" ng-change="updateFilter()">
				<label for="unk">Unknown release date</label>
			</div>
			<div class="selector">
				<select ng-model="searchRequest.sortBy" ng-change="updateFilter()" convert-sort-by-to-string>
					<option value="0">Rating</option>
					<option value="1">Date</option>
					<option value="2">Album Name</option>
					<option value="3">Band Name</option>
				</select>
			</div>
			<div class="check-selector">
				<input id="asc" type="checkbox" ng-model="searchRequest.sortOrderAsc" ng-change="updateFilter()">
				<label for="asc">Sort ascending</label>
			</div>
		</div>
		<div class="search-results">
			<div ng-show="dataLoading" class="loading-placeholder fade-slow">
				<div>
					<img src="images/ScruffFace.png" class="spinner">
					<span class="loading-text">Loading...</span>
				</div>
			</div>
			<div ng-show="loadingError && dataLoading == false" class="error-placeholder fade-slow">
				<div>
					<img src="images/ScruffFace.png">
					<span><h1>Oops!</h1>Something messed up, maybe try again later.</span>
				</div>
			</div>
			<ul ng-show="dataLoading == false && loadingError == false" class="fade-slow">
				<li ng-repeat="album in albums" class="elevate">
					<a href="#band/{{album.band.url.replace('.html', '')}}">
						<span>{{album.year != 0 ? album.year : 'UNK'}}</span>
						<span>{{album.band.name}}</span>
						<span>{{album.name.replace('&amp;amp;', '&amp;')}}</span>
						<span>{{album.rating}}/10</span>
						<span class="highlight"></span>
					</a>
				</li>
				<li class="no-results elevate" ng-if="albums.length === 0">No results found...</li>
			</ul>
			<div class="paginator elevation-1">
				<a ng-class="{'inactive': searchRequest.page==0}" ng-click="changePage(-10)">10<</a>
				<a ng-class="{'inactive': searchRequest.page==0}" ng-click="changePage(-1)">1<</a>
				<h1>{{searchRequest.page+1}}/{{maxPage}}</h1>
				<a ng-class="{'inactive': searchRequest.page==maxPage-1}" ng-click="changePage(+1)">>1</a>
				<a ng-class="{'inactive': searchRequest.page==maxPage-1}" ng-click="changePage(+10)">>10</a>
			</div>
		</div>
	</div>
</body>
</html>