<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<title>Bands</title>
	<div class="albums-parent opaque">
		<div class="album-filters-field">
			<h1>Filters</h1>
			<div class="album-name-search">
				<input type="text" ng-model="searchRequest.name" placeholder="Album Name" ng-change="updateFilter()"/>
				<span class="input-highlight">{{searchRequest.name}}</span>
			</div>
			<div class="album-ratings-sliders">
				<input ng-model="searchRequest.ratingLower" type="range" min="0" max="{{searchRequest.ratingHigher}}" step="0.5" style="width: calc(10% * {{searchRequest.ratingHigher}}); margin-right: calc(10% * {{10 - searchRequest.ratingHigher}});" ng-change="updateFilter()">
				<input ng-model="searchRequest.ratingHigher" type="range" min="{{searchRequest.ratingLower}}" max="10" step="0.5" style="width: calc(10% * {{10 - searchRequest.ratingLower}}); float: right;" ng-change="updateFilter()">
				<span style="width: calc(10% * {{searchRequest.ratingHigher - searchRequest.ratingLower}}); left: calc(10% * {{searchRequest.ratingLower}});"></span>
				<div class="ratings-sliders-text">
					<p>{{searchRequest.ratingLower}}></p>
					<p>Rating</p>
					<p><{{searchRequest.ratingHigher}}</p>
				</div>
			</div>
			<div class="year-selector">
				<p><input type="number" min="1950" max="{{searchRequest.yearHigher}}" ng-model="searchRequest.yearLower" ng-change="updateFilter()"></p>
				<p>Year</p>
				<p><input type="number" min="{{searchRequest.yearLower}}" ng-model="searchRequest.yearHigher" ng-change="updateFilter()"></p>
			</div>
			<div class="unk-selector">
				<input id="unk" type="checkbox" ng-model="searchRequest.includeUnknown" ng-change="updateFilter()">
				<label for="unk">Unknown release date</label>
			</div>
		</div>
		<div class="album-search-results">
			<div ng-show="dataLoading" class="loading-placeholder opaque">
				<div>
					<img src="images/ScruffFace.png" class="spinner">
					<span class="loading-text">Loading...</span>
				</div>
			</div>
			<div ng-show="loadingError && dataLoading == false" class="error-placeholder opaque">
				<div>
					<img src="images/ScruffFace.png">
					<span><h1>Oops!</h1>Something messed up, maybe try again later.</span>
				</div>
			</div>
			<ul ng-show="dataLoading == false && loadingError == false">
				<li ng-repeat="album in albums" >
					<a href="#band/{{album.band.url.replace('.html', '')}}">
						<span>{{album.year != 0 ? album.year : 'UNK'}}</span>
						<span>{{album.band.name}}</span>
						<span>{{album.name.replace('&amp;amp;', '&amp;')}}</span>
						<span>{{album.rating}}/10</span>
					</a>
				</li>
				<li class="opaque" ng-if="albums.length === 0"><strong>No results found...</strong></li>
			</ul>
			<div class="paginator">
				<a ng-class="{'inactive': searchRequest.page==0}" ng-click="changePage(-10)">10<</a>
				<a ng-class="{'inactive': searchRequest.page==0}" ng-click="changePage(-1)">1<</a>
				<h1>{{searchRequest.page+1}}</h1>
				<a ng-class="{'inactive': albums.length < 50}" ng-click="changePage(+1)">>1</a>
				<a ng-class="{'inactive': albums.length < 50}" ng-click="changePage(+10)">>10</a>
			</div>
		</div>
	</div>
</body>
</html>