<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<title>Bands</title>
	<div ng-show="dataLoading" class="loading-placeholder opaque">
		<div>
			<img src="images/ScruffFace.png" class="spinner">
			<span class="loading-text">Loading...</span>
		</div>
	</div>
	<div ng-show="loadingError && dataLoading == false" class="error-placeholder opaque">
		<div>
			<img src="images/ScruffFace.png">
			<span><h1>Oops!</h1>Something messed up, maybe try again later.</span>
		</div>
	</div>
	<div ng-show="dataLoading == false && loadingError == false" class="bands-parent opaque">
		<div class="band-input-field">
			<input type="text" ng-model="filterText" ng-keyup="updateFilter()" placeholder="Search" />
			<span class="input-highlight">{{filterText}}</span>
		</div>
		<div class="band-field">
			<ul>
				<li ng-repeat="band in bandsDisplay" class="opaque">
					<a href="#band/{{band.name.replace('/',' ')}}/{{band.url.replace('.html', '')}}">{{band.name}}</a>
					<span class="highlight"></span>
				</li>
				
				<li class="opaque" ng-if="bandsDisplay.length === 0"><strong>No results found...</strong></li>
			</ul>
		</div>
		<div class="paginator">
			<a ng-class="{'inactive': pageNumber==1}" ng-click="changePage(-10)">10<</a>
			<a ng-class="{'inactive': pageNumber==1}" ng-click="changePage(-1)">1<</a>
			<h1>{{pageNumber}}/{{maxPage}}</h1>
			<a ng-class="{'inactive': pageNumber==maxPage}" ng-click="changePage(1)">>1</a>
			<a ng-class="{'inactive': pageNumber==maxPage}" ng-click="changePage(10)">>10</a>
		</div>
	</div>
</body>
</html>