<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<div ng-show="dataLoading" class="loading-placeholder">
		<div>
			<img src="images/ScruffFace.png" class="spinner opaque">
			<span class="loading-text">Loading...</span>
		</div>
	</div>
	<div ng-show="loadingError && dataLoading == false" class="error-placeholder opaque">
		<div>
			<img src="images/ScruffFace.png">
			<span><h1>Oops!</h1>Something messed up, maybe try again later.</span>
		</div>
	</div>
	<div ng-show="dataLoading == false && loadingError == false" class="opaque band-info">
		<title>Band {{band.name}}</title>
		<a class="band-name" href="{{band.fullUrl}}" title="Read on scaruffi.com">
			{{band.name}}
			<span class="highlight"></span>
		</a>
		<div class="bio-album-container">
			<ul class="bio-album-navbar">
				<li ng-class="{'selected' : selectedSection == 0}" ng-if="band.albums.length !=0 || band.relatedBands.length != 0">
					<a ng-click="selectSection(0)">Overview</a>
					<span class="highlight"></span>
				</li>
				<li ng-class="{'selected' : selectedSection == 1}">
					<a ng-click="selectSection(1)">Biography</a>
					<span class="highlight"></span>
				</li>

			</ul>
			<div ng-show="selectedSection == 0" class="bio-album-section opaque">
				<div class="albums-view" ng-if="band.albums.length != 0">
					<h1>Albums</h1>
					<ul>
						<li ng-repeat="album in band.albums | orderBy:'year'" ng-class="{'essential': album.rating >= 7}" >
							<span>{{album.year != 0 ? album.year : 'UNK'}}</span>
							<span>{{album.name.replace('&amp;amp;', '&amp;')}}<span class="highlight">{{album.name}}</span></span>
							<span>{{album.rating}}/10</span>
						</li>
					</ul>
				</div>
				<div class="related-bands-view" ng-if="band.relatedBands.length != 0">
					<h1>Related bands or artists</h1>
					<ul>
						<li class="album-info" ng-repeat="band in band.relatedBands">
							<a href="#band/{{band.url.replace('.html', '')}}">{{band.name}}</a>
							<span class="highlight"></span>
						</li>
					</ul>
				</div>
			</div>
			<div ng-show="selectedSection == 1" class="bio-album-section opaque">
				<div class="biography">
					<p style="white-space: pre-wrap;">{{band.bio}}</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>