<!DOCTYPE html>
<html>

<head>

</head>

<body>
	<!--<div ng-show="dataLoading" class="loading-placeholder">
		<div>
			<img src="images/ScruffFace.png" class="spinner opaque">
			<span class="loading-text">Loading...</span>
		</div>
	</div>-->
	<div ng-show="loadingError" class="error-placeholder opaque">
		<div>
			<img src="images/ScruffFace.png">
			<span><h1>Oops!</h1>Something messed up, maybe try again later.</span>
		</div>
	</div>
	<div ng-show="loadingError == false" class="opaque band-info">
		<title>Band {{band.name}}</title>
		<div class="band-page-header elevation-2">
			<div class="background-blur">
				<img src="{{band.imageUrl ? band.imageUrl : 'images/defaultArtistImage.svg'}}">
			</div>
			<div class="image-name-container">
				<div class="artitst-profile-image" style="background-image: url({{band.imageUrl ? band.imageUrl : 'images/defaultArtistImage.svg'}})"></div>
				<a class="band-name" href="{{band.fullUrl}}" title="Read on scaruffi.com">
					{{band.name}}
					<span class="highlight"></span>
				</a>
			</div>
		</div>
		<div class="bio-album-container">
			<ul class="bio-album-navbar">
				<li ng-class="{'selected' : selectedSection == 0}" ng-if="band.albums.length !=0 || band.relatedBands.length != 0">
					<a ng-click="selectSection(0)">Overview</a>
					<span class="highlight"></span>
				</li>
				<li ng-class="{'selected' : selectedSection == 1}">
					<a ng-click="selectSection(1)">Biography</a>
					<span class="highlight"></span>
				</li>

			</ul>
			<div ng-show="selectedSection == 0" class="bio-album-section">
				<div class="albums-view" ng-if="band.albums.length != 0">
					<h1>Albums</h1>
					<ul>
						<li ng-repeat="album in band.albums | orderBy:'year'" class="elevation-1" ng-class="{'essential': album.rating >= 7}">
							<span style="background-image: url({{album.imageUrl ? album.imageUrl : 'images/defaultAlbumImage.svg'}});"></span>
							<span>
								<span>{{album.year != 0 ? album.year : 'UNK'}}</span>
							<span>{{album.name | ampersand}}<span class="highlight">{{album.name | ampersand}}</span></span>
							<span>{{album.rating}}/10</span>
							</span>
						</li>
					</ul>
				</div>
				<div style="width: 100%; height: 20px;" ng-if="band.albums.length != 0 && band.relatedBands.length != 0"></div>
				<div class="related-bands-view" ng-if="band.relatedBands.length != 0">
					<h1>Related bands or artists</h1>
					<ul>
						<li class="album-info elevate" ng-repeat="bandR in band.relatedBands">
							<a href="#band/{{bandR.url.replace('.html', '')}}">
								<span style="background-image: url({{bandR.imageUrl ? bandR.imageUrl : 'images/defaultArtistImage.svg'}});"></span>
								<span>{{bandR.name}}</span>
							</a>
							<span class="highlight"></span>
						</li>
					</ul>
				</div>
			</div>
			<div ng-show="selectedSection == 1" class="bio-album-section">
				<div class="biography elevation-2">
					<p style="white-space: pre-wrap;" ng-repeat="paragraph in paragraphs track by $index">{{paragraph | trim}}</p>
				</div>
			</div>
		</div>
	</div>
</body>

</html>