<!DOCTYPE html>
<html>
<head>
	
</head>
<body>
	<title>Bands</title>
	<div class="bands-parent opaque">
		<div class="filters-field elevation-2">
			<div class="band-input-field">
				<input type="text" ng-model="searchRequest.name" ng-change="updateFilter()" placeholder="Search" ng-trim="false"/>
				<span class="input-highlight">{{searchRequest.name}}</span>
			</div>
		</div>
		<div class="search-results">
			<div class="band-field">
				<div ng-show="dataLoading" class="loading-placeholder fade-slow">
					<div>
						<img src="images/ScruffFace.png" class="spinner">
						<span class="loading-text">Loading...</span>
					</div>
				</div>
				<div ng-show="loadingError && dataLoading == false" class="error-placeholder fade-slow">
					<div>
						<img src="images/ScruffFace.png">
						<span><h1>Oops!</h1>Something messed up, maybe try again later.</span>
					</div>
				</div>
				<ul ng-show="dataLoading == false && loadingError == false" class="fade-slow">
					<li ng-repeat="band in bands" class="elevate stagger" ng-class="{'column-1' : $index%3 == 1, 'column-2' : $index%3 == 2, }">
						<a href="#band/{{band.url.replace('.html', '')}}">
							<span style="background-image: url({{band.imageUrl ? band.imageUrl : 'images/defaultArtistImage.svg'}});"></span>
							<span>{{band.name}}</span>
						</a>
						<span class="highlight"></span>
					</li>
					<li class="elevate no-results" ng-if="bands.length === 0">No results found...</li>
				</ul>
			</div>
			<div class="paginator elevation-1">
				<a ng-class="{'inactive': searchRequest.page==0}" ng-click="changePage(-10)">10<</a>
				<a ng-class="{'inactive': searchRequest.page==0}" ng-click="changePage(-1)">1<</a>
				<h1>{{searchRequest.page+1}}/{{maxPage}}</h1>
				<a ng-class="{'inactive': searchRequest.page==maxPage-1}" ng-click="changePage(1)">>1</a>
				<a ng-class="{'inactive': searchRequest.page==maxPage-1}" ng-click="changePage(10)">>10</a>
			</div>
		</div>
	</div>
</body>
</html>